.keto {
    float: right;
}

a {
    margin: 10px;
}

#A {
    width: 150px;
    height: 20px;
}

label {
    font-size: larger;
}

form {
    padding: 50px;
    background-color: black;
    margin-right: 1300px;
    color: #FFFFFF;
    padding-left: 100px;
}

button {
    background-color: #FE0001;
    color: #FFFFFF;
}

body {
    background-image: url(https://www.decorpot.com/images/1687825191small-bedroom-design-ideas-for-comfortable-retreat.jpg);
    background-repeat: no-repeat;
    background-size: 100% 800px;
}